# general
.DS_Store
node_modules
.fusebox
.cache
dist

# prefer npm
yarn.lock

# exclude unit testing output
test/output

# exclude examples generated output
examples/*/dist
examples/*/package-lock.json
